#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


ion-toolbar {
  --background:#ff5900;
  --color: white;

  --border-color: #ff5900;
  --border-width: 4px 0;
  --border-style: double;

  --min-height: 120px;
  --padding-top: 20px;
  
}

.hhi {
  
  
 
    width: 300px;
    height: 150px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background: rgb(178, 176, 172);
    margin: auto;
  
}

ion-button {
  min-height: 40px;
  width: 100%;
}

img{
  width: 300px;
    height: 150px;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    background: rgb(178, 176, 172);
    margin: auto;
}