<ion-app>
  <ion-header>
    <ion-toolbar>
    
    
      <ion-item class="hhi">
      <img alt="Mất tính hiệu" src="./assets/traicay.png"/>
      </ion-item>
      
    </ion-toolbar>
    
    
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">

    <ion-item>
        <ion-input placeholder="Chứng minh nhân dân">
      </ion-input>
       <ion-icon name="key-outline"></ion-icon>
    </ion-item>
   
   <ion-button fill="outline" color="warning">Đăng Nhập</ion-button>

  </ion-content>

  <ion-footer>
   
  </ion-footer>
</ion-app>